[submodule "third_party/Cronopio"]
	path = third_party/Cronopio
	url = https://github.com/cronomantic/Cronopio.git
[submodule "third_party/uqm"]
	path = third_party/uqm
	url = https://github.com/cronomantic/The-UrQuan-Masters.git
	branch = cronopio-port
